.footer {
    background-color: rgb(37, 36, 36);
    color: aliceblue;
    padding: 4em;
    display: flex;
    margin-top:20px ;
    justify-content: space-between

}
.footer p{
    font-size: 1.5em;
}
.footer span{
    color:rgb(156, 37, 152);
}
.footer .social_icons .fab{
    color:rgb(168, 45, 164);
}
.footer .social_icons .fab:hover{
    color: aliceblue;
}

.footer .copr{
    display: block;
}